<!doctype html>
<html>
<head>
    <title>Community</title>
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="icon" href="http://icons.iconarchive.com/icons/icons8/christmas-flat-color/512/penguin-icon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body style="margin:0">
<div class="container">
