<% include head.ejs%>

    <div id='root'></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFPbV-j4fvg70Ziq2bbTK_k5JSsfyidac">
    </script>
    <script src="/dist/bundle.js"></script>

<% include foot.ejs%>
